apscheduler
asyncio
pyrogram
tgcrypto
oauth2client
psycopg2-binary
pymongo
httplib2
aria2p
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
yt-dlp
tenacity
html5lib
beautifulsoup4
lxml
cloudscraper
