speedtest-cli
psutil
wget
asyncio
pyrogram
tgcrypto
oauth2client
psycopg2-binary
pymongo
httplib2
pySmartDL
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
yt-dlp
tenacity
html5lib
lk21
beautifulsoup4
lxml
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.4
